.body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 85vh;
   width: 100%;
}
.body .main{
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: rgba(108, 195, 213, 0.826);
    border-radius: 30px;
}
.body .main .image{
    padding: 3px;
    margin-right: 20px;
}
.body .main .image img{
    border-radius: 30px;
    filter: brightness(0.9);
    mix-blend-mode: darken;
}
.body .main .details{
 width: 800px;   
 margin-top: 25px;
 border-radius: 20px;
 color: black;
}